/* All !important tags do NOT overwrite any ASU Elements. They only affect the elements created in src = couseMenuToggle_AfterScroll.js */
.btnParentDiv_CanvasNavToggle {
    max-width: 50px;
    top: 4px !important;
    /* left-side appears to have a top z-index of 10, so uses 11 to not overshoot */
    z-index: 11;
    /* !important tag used because an ASU Defined class changes the opacity to 0% when the <div> 'left-side' is  set to display: none; */
    /* This tag is only on the new btnParentDiv, which DOES NOT affect any ASU created elements or class' */
    opacity: 100% !important;
}

.courseMenuToggleBTN_ForAfterScroll {
/* (left: 20px) aligns with content better when left-side display = block */
/* (left: 10px) aligns more centered when left-side display = none */
    left: 10px;
    padding-left: 4px !important;
    padding-top: 0 !important;
    padding-right: 1px !important;
    padding-bottom: 0 !important;
}

.courseMenuToggleButtonPositionLeft {
    left: 0px;
}
.divDividerClass {
    height: 20px;
}